/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 700px;
  height: 500px;
  background: url('../../../content/images/undraw_book_reading_kx9s.png') no-repeat center top;
  background-size: contain;
}
.global {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 5px;
}
.row {
  display: flex;
  justify-content: center;
}
